@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

h2,
h3,
p {
  margin: 0;
}

.topContainer {
  width: 100vw;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 125px;
  color: #fff;
  background: linear-gradient(180deg, rgba(24,26,54,1) 0%, rgba(51,73,111,1) 50%, rgba(24,26,54,1) 100%);
  border-radius: 0 0 5px 5px;
  font-family: 'Roboto Slab', serif;
}

.topTitle{
  font-family: 'Roboto Slab', serif;
  align-self: center;
  font-size: 16px;
  margin-top: 10px;
}

.topText{
  font-family: 'Roboto Slab', serif;
  align-self: center;
  margin-bottom: 10px;
}

.card{
  width: 100vw;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;
  color: #fff;
  background: linear-gradient(180deg, rgba(24,26,54,1) 0%, rgba(51,73,111,1) 50%, rgba(24,26,54,1) 100%);
  border-radius: 5px;
}
