.filter {
  width: 100vw;
  height: 32px;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  border: 0;
  background: rgba(24, 26, 54, 1);
  background: linear-gradient(180deg, rgba(51, 73, 111, 1) 0%, rgba(24, 26, 54, 1) 100%);
  border-radius: 5px;
}
